{{#section 'css'}}
<link rel="stylesheet" href="/principal/css/style.css">
{{/section}}

<section class="card">
  <div class="card-header">Filtros</div>
  <div class="card-body">

    <div class="row">
      <div class="col">
        <select class="form-control">
          <option value="ca">Chamados Abertos</option>
          <option value="cp">Chamados Pendentes</option>
          <option value="ce">Chamados Encerrados</option>
          <option value="tc">Todos os Chamados</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control">
          <option value="ASe">Secretária</option>
          <option value="AFi">Financeiro</option>
          <option value="Au">Aberto por qualquer um</option>
          <option value="ABi">Biblioteca</option>
          <option value="AGr">Graduação</option>
          <option value="APo">Pós Graduação</option>
        </select>
      </div>

      <div class="col">
        <input class="form-control" type="search" value="" placeholder="Protocolo" name="Buscar">
      </div>
       <div class="col">
        <select class="form-control">
          <option value="ASe">10 Registros</option>
          <option value="AFi">Financeiro</option>
          <option value="Au">Aberto por qualquer um</option>
          <option value="ABi">Biblioteca</option>
          <option value="AGr">Graduação</option>
          <option value="APo">Pós Graduação</option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
      </div>
    </div>
  </div>
</section>

<section class="card">
  <div class="card-header">Chamados</div>
  <div class="card-body">

    <table class="table table-striped table-advance table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-bullhorn"></i>Protocolo</th>
          <th class="hidden-phone"><i class="fa fa-question-circle"></i> Descrição</th>
          <th><i class="fa fa-bookmark"></i> Setor</th>
          <th><i class=" fa fa-edit"></i> Situação</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Vector Ltd</a></td>
          <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
          <td>12120.00$ </td>
          <td><span class="badge badge-info label-mini">Due</span></td>
          <td>
            <button title="Aceitar" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Aceitar</button>
            <button class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Detalhes</button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-times "></i> Encerrar</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>

{{#section 'js'}}
<script src="/principal/js/script.js"></script>
{{/section}}