<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Call</title>
    {{{ section.css }}}
</head>

<body>
    {{{ body }}}
    
    <footer>
        <div class="rodape"> Elaborado pela equipe do projeto System Call - 2020</div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{{ section.js }}}
</body>

</html>