<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Call</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!--right slidebar-->
    <link href="/assets/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet" />

    {{{ section.css }}}
</head>

<body>

    <section id="container" class="">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <i class="fa fa-bars"></i>
            </div>
            <!--logo start-->
            <a href="/principal" class="logo">System<span>Call</span></a>
            <!--logo end-->

            <div class="top-nav ">
                <!-- user info start-->
                <ul class="nav pull-right top-menu">

                    <!-- user login dropdown start-->
                    <li class="">
                        <a href="#">
                            <span class="username">{{session.usuario.nome}}</span>
                        </a>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--user info end-->
            </div>
        </header>
        <!--header end-->

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a {{#equals menu 'chamado'}}class="active"{{/equals}} href="/chamado/lista">
                            <i class="fa fa-bullhorn"></i>
                            <span>{{#unless session.usuario.admin}}Meus {{/unless}}Chamados</span>
                        </a>
                    </li>
                    {{#if session.usuario.admin}}
                    <li class="sub-menu">
                        <a {{#equals menu 'cadastro'}}class="active"{{/equals}} href="javascript:;">
                            <i class="fa fa-plus"></i>
                            <span>Cadastros</span>
                        </a>
                        <ul class="sub">
                            <li {{#equals submenu 'usuario'}}class="active"{{/equals}}><a href="/usuario/lista">Usuários</a></li>
                            <li {{#equals submenu 'setor'}}class="active"{{/equals}}><a href="/setor/lista">Setores</a></li>
                            <li {{#equals submenu 'problema'}}class="active"{{/equals}}><a href="/problema/lista">Problemas</a></li>
                        </ul>
                    </li>
                   
                    {{/if}}
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <span>Sair</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <section id="main-content">
            <section class="wrapper site-min-height">

                {{{ body }}}

                <!-- page end-->
            </section>
        </section>
        <footer class="site-footer">
            <div class="text-center">
                2020 &copy; System Call
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/slidebars.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/assets/js/respond.min.js"></script>

    <!--common script for all pages-->
    <script src="/assets/js/common-scripts.js"></script>
    {{{ section.js }}}
</body>

</html>