{{#section 'css'}}
{{/section}}

<div class="container">
    <div align="center" class="mt-5" style="background-color: #f1f2f7;;">
        <img class="img-fluid" src="/img/letras-logo.png" >
    </div>
    <form id="form" class="form-signin mt-5" action="/login/" method="post">
 
    <h2 class="form-signin-heading">Login</h2>
        <div class="login-wrap">
            <div class="text-center " id="resposta"><strong style="color:red;">{{mensagem}}</strong></div>
            <input type="text" id="login" name="email" class="form-control mt-2" placeholder="E-mail" autofocus>
            <input type="password" id="password" name="senha" class="form-control" placeholder="Senha">
            <br />
            <button class="btn btn-lg btn-login btn-block" id="btnSubmit" type="submit">Entrar</button>

        </div>
    </form>

</div>

{{#section 'js'}}
<script src="/login/js/script.js"></script> 
{{/section}}