{{#section 'css'}}
{{/section}}

<div class="container">

    <form id="form" class="form-signin" >
        <div align="center" class="logo">
            <img class="img-fluid" src="/img/logo3.png" width="250">
        </div>
        <div class="login-wrap">
            <div class="text-center my-2" id="resposta"></div>
            <input type="text" id="login" class="form-control" placeholder="E-mail" autofocus>
            <input type="password" id="password" class="form-control" placeholder="Senha">
            <br />
            <button class="btn btn-lg btn-login btn-block" id="btnSubmit" type="submit">Entrar</button>

        </div>
    </form>

</div>



{{#section 'js'}}
<script src="/login/js/script.js"></script> 
{{/section}}