/* esse form é para centralizar no meio da pagina o formulario de cadastro*/

fieldset {
    padding: 1em;
    width: 280px;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 1em;
    background: #f8f8f8;
}


/* Fieldset para configurar a parte interna e bordas do formulario*/

fieldset legend {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}


/* Fieldset para configurar a palavra cadastro no topo do formulario */

label {
    display: block;
    cursor: pointer;
}

input {
    width: 20em;
}

.button {
    padding-top: 1em;
    margin-left: 6em;
}