html,
body {
    padding: 0;
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

body {
    min-height: 100%;
}

html body {
    height: 100%;
}

body {
    position: relative;
}


/* do html.css ate aqui é uma parte da configuração do rodape*/

.Form {
    margin-left: 140px;
}

.busc {
    margin-left: 320px;
}

td {
    padding: 20px 40px;
    background: #ccc 1px;
}

.topo {
    background: #069;
    color: white;
    padding: 20px 40px;
}

table {
    margin-top: 50px;
    text-align: center;
    border: 1px solid #ccc;
    background: #f8f8f8;
    box-sizing: border-box;
}