{{#section 'css'}}
{{/section}}

<section class="card">
    <div class="card-header">Salvar Setor</div>
    <div class="card-body">
        <form class="" action="/setor/" method="post" id="form">
            <input type="hidden" id="id" name="id" value="{{setor.id}}" />

            <div class="form-group">
                <label for="nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="nome" value="{{setor.nome}}">
            </div>
           
            <div class="float-right">
                <a type="submit" class="btn btn-danger" href="/setor/lista">Cancelar</a>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</section>

{{#section 'js'}}
{{/section}}