{{#section 'css'}}
<link rel="stylesheet" href="/setor/css/style.css">
{{/section}}

<form action="#" id="form">
    <fieldset>
        <legend>Cadastrar Setor</legend>
        <div id="resposta"></div>

        <div>
            <label for="tipo">Nome:</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div class="button">
            <button type="submit">Cadastrar</button>
        </div>
    </fieldset>
</form>

{{#section 'js'}}
<script src="/setor/js/script.js"></script>
{{/section}}