    
        body{
            margin: 0; 
            padding: 0; 
            box-sizing: border-box;
        }


        header{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            padding: 9px 0;
            text-align: center;
            background: #069;
        } /* configuração do background do topo do site e centralização do texto*/

        .logo{
            position: absolute;
            width: 90px;
            top: 0px;  
            bottom: 0px;
            left: 0px;
  
        } /* configuração da logo-marca no topo do site*/

        header li{

            display: inline-block;
            margin: 0 10px;
            font-size: 20px;
        } /* configurações para posicionar o texto no topo do site*/

        header a{
            text-decoration: none;
            color:white;
            opacity: 0.8;
            
        } /* configuração de cor do texto do topo do site*/

        a:hover{
          opacity: 1;
          color:black;
          
        }

        form{
            padding-top: 150px;
            padding-bottom: 50px;
                
        } /* esse form é para centralizar no meio da pagina o formulario de cadastro*/

        
        fieldset{
            padding:1em;
            width: 280px;
            text-align: left;
            margin:0 auto;
            border:1px solid #ccc;
            border-radius: 1em;
            background: #f8f8f8;
        } /* Fieldset para configurar a parte interna e bordas do formulario*/

        fieldset legend{
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        } /* Fieldset para configurar a palavra cadastro no topo do formulario */

        label{
            display:block;
            cursor: pointer;
        }
        
        input{
            width:20em;
        }

        select{
            width:20.5em;
        }

        
        .button{
            padding-top: 1em;
            margin-left: 6em;
        }

        .rodape{
            position: relative;
            left: 0;
            top: 0;
            text-align: center; font-size: 14px;
            width: 100%;
            padding: 9px 0;
            text-align: center;
            color: white;
            background: #069;
        }
