{{#section 'css'}}
{{/section}}

<section class="card">
    <div class="card-header">Salvar Chamado</div>
    <div class="card-body">
        <form class="cmxform" action="/chamado/" method="post" id="form">
            <input type="hidden" name="criadoPor[id]" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="problema[id]">Problema</label>
                        <select id="problema.id" name="problema[id]" class="form-control" required>
                            <option disabled selected value> Selecione </option>
                            {{#each problemas}}
                            <option value={{id}} {{selected id ../chamado.problema.id}}>{{nome}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea class="form-control" name="descricao" required></textarea>
            </div>

            <div class="float-right">
                <a type="submit" class="btn btn-danger" href="/chamado/lista">Cancelar</a>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</section>


{{#section 'js'}}
<script src="/assets/js/jquery.validate.min.js"></script>
<script>
    $("#form").validate({
        messages: {
            "problema[id]": {
                required: "Favor selecione uma opção"
            },
            "descricao": {
                required: "Favor preencher esse campo"
            }
        }
    });
</script>
{{/section}}