{{#section 'css'}}
{{/section}}

<section class="card">
    <div class="card-header">Salvar Chamado</div>
    <div class="card-body">
        <form class="" action="/chamado/" method="post" id="form">
            <input type="hidden" id="id" name="id" value="{{chamado.id}}" />

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" name="descricao" value="{{chamado.descricao}}"></textarea>
            </div>

            <div class="float-right">
                <a type="submit" class="btn btn-danger" href="/chamado/lista">Cancelar</a>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
        </form>
    </div>
</section>


{{#section 'js'}}
{{/section}}