{{#section 'css'}}
{{/section}}

<section class="card">
  <div class="card-header">Filtros</div>
  <div class="card-body">

    <div class="row">
      <div class="col">
        <select class="form-control">
          <option value="ca">Chamados Abertos</option>
          <option value="cp">Chamados Pendentes</option>
          <option value="ce">Chamados Encerrados</option>
          <option value="tc">Todos os Chamados</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control">
          <option value="ASe">Secretária</option>
          <option value="AFi">Financeiro</option>
          <option value="Au">Aberto por qualquer um</option>
          <option value="ABi">Biblioteca</option>
          <option value="AGr">Graduação</option>
          <option value="APo">Pós Graduação</option>
        </select>
      </div>

      <div class="col">
        <input class="form-control" type="search" value="" placeholder="Protocolo" name="Buscar">
      </div>
       <div class="col">
        <select class="form-control">
          <option value="ASe">10 Registros</option>
          <option value="AFi">Financeiro</option>
          <option value="Au">Aberto por qualquer um</option>
          <option value="ABi">Biblioteca</option>
          <option value="AGr">Graduação</option>
          <option value="APo">Pós Graduação</option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
      </div>
    </div>
  </div>
</section>

<section class="card">
  <div class="card-header">
    {{#ifnot session.admin}}Meus {{/ifnot}}Chamados</div>
  <div class="card-body">

    {{#ifnot session.admin}}
     <a class="btn btn-primary float-right" href="/chamado"><i class="fa fa-plus"></i> Abrir chamado</a>
    {{/ifnot}}

    <table class="table table-bordered table-hover my-5">
      <thead>
        <tr>
          <th>Protocolo</th>
          <th>Descrição</th>
          <th>Setor</th>
          <th>Situação</th>
          <th>Ações</th>
        </tr>
      </thead>
     <tbody>
        <tr>
          <td><a href="#">Vector Ltd</a></td>
          <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
          <td>12120.00$ </td>
          <td><span class="badge badge-info label-mini">Due</span></td>
          <td>
            {{#if session.admin}}
            <button title="Aceitar" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Aceitar</button>
            {{/if}}
            <button class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Detalhes</button>
            {{#if session.admin}}
            <button class="btn btn-danger btn-sm"><i class="fa fa-times "></i> Encerrar</button>
            {{/if}}
          </td>
        </tr>
  </tbody>
      
    </table>
  </div>
</section>

{{#section 'js'}}
{{/section}}